# Variable Example

In [1]:
num = 100
str = "Beginners Book"
print(num)
print(str)

100
Beginners Book

In [2]:
_temp = "This is temp string"
print(_temp)

This is temp string

In [3]:
9 = 100
print(9)

SyntaxError: can't assign to literal (<ipython-input-3-331b0c5f4a3d>, line 1)

In [4]:
# Multiple assignement

x = y = z = 99

print(x)
print(y)
print(z)

99
99
99

In [5]:
# Another example of multiple assignement

a, b, c = 5, 6, 7

print(a)
print(b)
print(c)

5
6
7

# Datatypes Example

In [6]:
x = 10
type(x)

int

In [7]:
y = 100.12
type(y)

float

In [8]:
name = "Punit Shah"
type(name)

str

In [59]:
flag = True
type(flag)

bool

In [10]:
lst = [1,2,3,4,5]
type(lst)

list

In [60]:
flag = not False
type(flag)
#print(flag)

bool

In [12]:
tup = (1,2,3,4,5)
type(tup)

tuple

# Mutable & Immutable Example

In [4]:
x = 10
print(x)
x = 12
print(x)

10
12

In [15]:
name = "Punit"
print(name)
name = "shah"
print(name)

Punit
shah

In [17]:
tup = (1,2,3,4,5)
print(tup)
print(tup[0])
tup[0] = 100

(1, 2, 3, 4, 5)
1

TypeError: 'tuple' object does not support item assignment

In [18]:
lst = [1,2,3,4,5]
print(lst)
print(lst[0])
lst[0] = 100
print(lst)

[1, 2, 3, 4, 5]
1
[100, 2, 3, 4, 5]

In [19]:
flag = True
print(flag)
flag = False
print(flag)

True
False

# Standard Input and Output Example

In [20]:
print("My name is Punit Shah")

My name is Punit Shah

In [5]:
city = "Mumbai"

print("I live in",city)
print("I live in {0} city".format(city))

I live in Mumbai
I live in Mumbai city

In [24]:
x = 12.3456789
print('The value of x is %3.2f' %x)
print('The value of x is %3.4f' %x)

The value of x is 12.35
The value of x is 12.3457

In [6]:
num = input('Enter a number: ')
print(num)

Enter a number: 100
100

In [7]:
name = input('Enter your name : ')
print("Hello, {0} ! How are you ?".format(name))

Enter your name : Punit
Hello, Punit ! How are you ?

In [8]:
text = open("C:\\Punit\\Personal\\Board-Infinity\\Python Programming\\L1-Python-Basics\\sample.txt","r")
print(text.read())

Welcome to class

# Statement & Multi-Statement Example

In [33]:
a = 1
b = "TEMP"

In [34]:
# Multiline Statement

a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
print(a)

45

# Indentation Example

In [35]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [10]:
if True:
    print('Hello')
    a = 5

Hello

In [37]:
if True: print('Hello'); a = 5

Hello

# Comment Example

In [39]:
# This is single line commment

# This is first line of comment
# This is second line of comment

"""
This is also comment. You dont have to write (#) here. 
"""

'\nThis is also comment. You dont have to write (#) here. \n'

# Data Structure - Example

## List Example

In [41]:
# To create a list, you use the square brackets and add elements into it accordingly. 
# If you do not pass any elements inside the square brackets, you get an empty list as the output.

#create empty list
my_list = []
print(my_list)

#creating list with data
my_list = [1, 2, 3, 'example', 3.132] 
print(my_list)

[]
[1, 2, 3, 'example', 3.132]

In [11]:
# Adding Element in List

my_list = [1, 2, 3]
print(my_list)

#add as a single element
my_list.append(4) 
print(my_list)

#add as different elements
my_list.extend([234, 'more_example']) 
print(my_list)

#add element i
my_list.insert(1, 'insert_example') 
print(my_list)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 234, 'more_example']
[1, 'insert_example', 2, 3, 4, 234, 'more_example']

In [43]:
# Deleting Elements

my_list = [1, 2, 3, 'example', 3.132, 10, 30,'example']

#delete element at index 5
del my_list[5]
print(my_list)

#remove element with value
my_list.remove('example')
print(my_list)

#pop element from list
a = my_list.pop(1)
print('Popped Element: ', a, ' List remaining: ', my_list)

#empty the list
my_list.clear()
print(my_list)

[1, 2, 3, 'example', 3.132, 30]
[1, 2, 3, 3.132, 30]
Popped Element:  2  List remaining:  [1, 3, 3.132, 30]
[]

In [44]:
#Accessing Elements

my_list = [1, 2, 3, 'example', 3.132, 10, 30]

#access elements one by one
for element in my_list:
    print(element)

#access all elements
print(my_list)

#access index 3 element
print(my_list[3])

#access elements from 0 to 1 and exclude 2
print(my_list[0:2])

#access elements in reverse
print(my_list[::-1])

#access last element
print(my_list[-1])

1
2
3
example
3.132
10
30
[1, 2, 3, 'example', 3.132, 10, 30]
example
[1, 2]
[30, 10, 3.132, 'example', 3, 2, 1]
30

In [45]:
# Other Functions

my_list = [1, 2, 3, 10, 30, 10]

#find length of list
print(len(my_list))

#find index of element that occurs first
print(my_list.index(10))

#find count of the element
print(my_list.count(10))

#print sorted list but not change original
print(sorted(my_list))

#sort original list
my_list.sort(reverse=True)
print(my_list)

6
3
2
[1, 2, 3, 10, 10, 30]
[30, 10, 10, 3, 2, 1]

## Dictionary Example

In [46]:
# Creating Dict

#empty dictionary
my_dict = {}
print(my_dict)

#dictionary with elements
my_dict = {1: 'Python', 2: 'Java'}
print(my_dict)

{}
{1: 'Python', 2: 'Java'}

In [13]:
# Changing and Adding key, value pairs

my_dict = {'First': 'Python', 'Second': 'Java'}
print(my_dict)

#changing element
my_dict['Second'] = 'C++'
print(my_dict)

#adding key-value pair
my_dict['Third'] = 'Ruby'
print(my_dict)

my_dict['name'] = "Punit"
print(my_dict)

{'First': 'Python', 'Second': 'Java'}
{'First': 'Python', 'Second': 'C++'}
{'First': 'Python', 'Second': 'C++', 'Third': 'Ruby'}
{'First': 'Python', 'Second': 'C++', 'Third': 'Ruby', 'name': 'Punit'}

In [49]:
#Deleting key, value pairs

my_dict = {'First': 'Python', 'Second': 'Java', 'Third': 'Ruby'}

#pop element
a = my_dict.pop('Third')
print('Value:', a)
print('Dictionary:', my_dict)

#pop the key-value pair
b = my_dict.popitem()
print('Key, value pair:', b)
print('Dictionary', my_dict)

#empty dictionary
my_dict.clear()
print('n', my_dict)

Value: Ruby
Dictionary: {'First': 'Python', 'Second': 'Java'}
Key, value pair: ('Second', 'Java')
Dictionary {'First': 'Python'}
n {}

In [16]:
# Accessing Elements

my_dict = {'First': 'Python', 'Second': ['Java','C++'],'Third':{'Name':'Punit','Age':30}}

#access elements using keys
print(my_dict['First'])
print(my_dict.get('Second'))
print(my_dict['Third']['Name'])

Python
['Java', 'C++']
Punit

## Tuple Example

In [51]:
#Creating a Tuple

my_tuple = (1, 2, 3) []
print(my_tuple)

(1, 2, 3)

In [17]:
#access elements

my_tuple2 = (1, 2, 3, 'edureka')

for x in my_tuple2:
    print(x)

print(my_tuple2)
print(my_tuple2[0])
print(my_tuple2[:])
print(my_tuple2[3][4])


my_tuple2[0] = 100

1
2
3
edureka
(1, 2, 3, 'edureka')
1
(1, 2, 3, 'edureka')
e

TypeError: 'tuple' object does not support item assignment

## Set Example

In [53]:
#create set

my_set = {1, 2, 3, 4, 5, 5, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [54]:
my_set = {1, 2, 3}

#add element to set
my_set.add(4) 
print(my_set)

{1, 2, 3, 4}

In [55]:
#Operations on set

my_set = {1, 2, 3, 4}
my_set_2 = {3, 4, 5, 6}


print(my_set.union(my_set_2), '----------', my_set | my_set_2)
print(my_set.intersection(my_set_2), '----------', my_set & my_set_2)
print(my_set.difference(my_set_2), '----------', my_set - my_set_2)
print(my_set.symmetric_difference(my_set_2), '----------', my_set ^ my_set_2)
my_set.clear()

print(my_set)

{1, 2, 3, 4, 5, 6} ---------- {1, 2, 3, 4, 5, 6}
{3, 4} ---------- {3, 4}
{1, 2} ---------- {1, 2}
{1, 2, 5, 6} ---------- {1, 2, 5, 6}
set()

# String Examples

In [61]:
print("Hello Kids")

Hello Kids

In [62]:
print("3 + 2")

3 + 2

In [63]:
type("Hello Kids")

str

In [66]:
#Concatenation

first = "Hello"
second = "There !"

print(first + second)
print(first + " " +second)

HelloThere !
Hello There !

In [69]:
#Accessing letters

temp = "Hello, World!"
print(temp[0:6])
print(temp[-6:])

Hello,
World!

In [77]:
#Operations on String

temp = "Hello, World    "

print(temp.upper())
print(temp.lower())
print(temp.capitalize())
print(len(temp))
print("\n")


print(temp.replace("H","99"))
print(temp.split(","))
print(temp.strip())

HELLO, WORLD
hello, world
Hello, world
16


99ello, World
['Hello', ' World    ']
Hello, World

In [20]:
temp = "punit"
print(temp[2].upper())

N

In [1]:
import numpy as np

In [78]:
# Check if word is present in string

txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [ ]:
x = [] list
x = () tuple
x = {} Dict